h1 {
  font-size: 50pt;
  text-align: center;
  background-color: khaki;
}
.funny {
  background-color: blue;
  color: white;
  width: 400px;
  height: 200px;
}

.result {
  font-size: 60pt;
  text-align: center;
  background-color: white;
  color: black;
  width: 120px;
  height: 100px;
  border: 1px;
  border-color: black;
  border-style: solid;
  margin: 5px;
  padding: 5px;
}

a {
  font-size: 14pt;
}

label {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.backdrop {
  background-color: midnightblue;
}

.pokemonlist {
  color: white;
  font-size: 15pt;
}
